---
- name: Instalar Apache y PHP
  ansible.builtin.apt:
    name:
      - apache2
      - php
      - php-mysql
      - php-curl
      - php-gd
      - php-mbstring
      - php-xml
      - php-xmlrpc
      - php-soap
      - php-intl
      - php-zip
      - php-ldap
      - libapache2-mod-php
      - libapache2-mod-authnz-external
      - libapache2-mod-authz-unixgroup
      - pwauth
      - curl
      - unzip
    state: present

- name: Habilitar módulos de Apache
  community.general.apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - rewrite
    - ssl
    - headers
    - authnz_external
    - authz_unixgroup
  notify: restart apache2

- name: Crear directorio para WordPress
  ansible.builtin.file:
    path: /var/www/html/wordpress
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Descargar WordPress
  ansible.builtin.get_url:
    url: https://wordpress.org/latest.tar.gz
    dest: /tmp/wordpress.tar.gz
    mode: '0644'

- name: Extraer WordPress
  ansible.builtin.unarchive:
    src: /tmp/wordpress.tar.gz
    dest: /tmp/
    remote_src: yes
    creates: /tmp/wordpress

- name: Copiar archivos de WordPress
  ansible.builtin.copy:
    src: /tmp/wordpress/
    dest: /var/www/html/wordpress/
    remote_src: yes
    owner: www-data
    group: www-data
    mode: preserve

- name: Configurar wp-config.php
  ansible.builtin.template:
    src: wp-config.php.j2
    dest: /var/www/html/wordpress/wp-config.php
    owner: www-data
    group: www-data
    mode: '0644'

- name: Crear directorio para certificados SSL
  ansible.builtin.file:
    path: /etc/apache2/ssl
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Generar certificado SSL autofirmado
  ansible.builtin.command: >
    openssl req -x509 -nodes -days 365 -newkey rsa:2048
    -keyout /etc/apache2/ssl/apache-selfsigned.key
    -out /etc/apache2/ssl/apache-selfsigned.crt
    -subj "/C=ES/ST=Madrid/L=Madrid/O=PatitoHosting/OU=IT/CN=www.patitohosting.licic"
  args:
    creates: /etc/apache2/ssl/apache-selfsigned.crt

- name: Configurar parámetros SSL
  ansible.builtin.template:
    src: ssl-params.conf.j2
    dest: /etc/apache2/conf-available/ssl-params.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart apache2

- name: Habilitar configuración SSL
  ansible.builtin.command: a2enconf ssl-params
  args:
    creates: /etc/apache2/conf-enabled/ssl-params.conf
  notify: restart apache2

- name: Configurar VirtualHost de WordPress
  ansible.builtin.template:
    src: www.patitohosting.licic.conf.j2
    dest: /etc/apache2/sites-available/www.patitohosting.licic.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart apache2

- name: Deshabilitar sitio por defecto
  ansible.builtin.command: a2dissite 000-default.conf
  args:
    removes: /etc/apache2/sites-enabled/000-default.conf
  notify: restart apache2

- name: Habilitar sitio de WordPress
  ansible.builtin.command: a2ensite www.patitohosting.licic.conf
  args:
    creates: /etc/apache2/sites-enabled/www.patitohosting.licic.conf
  notify: restart apache2

- name: Crear directorio mu-plugins si no existe
  ansible.builtin.file:
    path: /var/www/html/wordpress/wp-content/mu-plugins
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Copiar plugin de sincronización LDAP
  ansible.builtin.copy:
    src: wp-ldap-sync.php
    dest: /var/www/html/wordpress/wp-content/mu-plugins/wp-ldap-sync.php
    owner: www-data
    group: www-data
    mode: '0644'

- name: Asegurar que Apache esté habilitado y en ejecución
  ansible.builtin.service:
    name: apache2
    state: started
    enabled: yes
