$TTL    86400
@       IN      SOA     ns.patitohosting.licic. admin.patitohosting.licic. (
                              2025121101         ; Serial
                              3600              ; Refresh
                              1800              ; Retry
                              604800            ; Expire
                              86400 )           ; Negative Cache TTL
;
@       IN      NS      ns.patitohosting.licic.

10      IN      PTR     www.patitohosting.licic.
11      IN      PTR     db.patitohosting.licic.
12      IN      PTR     ns.patitohosting.licic.
13      IN      PTR     mail.patitohosting.licic.
14      IN      PTR     ldap.patitohosting.licic.
