---
- name: Instalar BIND9
  ansible.builtin.apt:
    name:
      - bind9
      - bind9utils
      - bind9-doc
    state: present

- name: Configurar named.conf.options
  ansible.builtin.template:
    src: named.conf.options.j2
    dest: /etc/bind/named.conf.options
    owner: root
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Configurar named.conf.local
  ansible.builtin.template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    owner: root
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Crear zona directa
  ansible.builtin.template:
    src: db.patitohosting.licic.j2
    dest: /etc/bind/db.patitohosting.licic
    owner: root
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Crear zona inversa
  ansible.builtin.template:
    src: db.56.168.192.j2
    dest: /etc/bind/db.56.168.192
    owner: root
    group: bind
    mode: '0644'
  notify: restart bind9

- name: Asegurar que BIND9 esté habilitado y en ejecución
  ansible.builtin.service:
    name: bind9
    state: started
    enabled: yes

- name: Permitir DNS (puerto 53 TCP) en firewall
  community.general.ufw:
    rule: allow
    port: '53'
    proto: tcp

- name: Permitir DNS (puerto 53 UDP) en firewall
  community.general.ufw:
    rule: allow
    port: '53'
    proto: udp
